<app-header></app-header>
<section class="py-5">
  <div class="container py-5">
      <div class="row mb-4 mb-lg-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="fw-bold text-success mb-2">Play Now</p>
              <h2 class="fw-bold">Let's Start the Game</h2>
          </div>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-xl-4" style="margin-left: 278px;margin-right: 210px;padding-right: 0px;padding-left: 0px;">
              <div style="margin-left: -45px;"><a class="btn btn-primary shadow" role="button" (click)="openRoomCreate()"
                style="margin-top: 6px;margin-bottom: 35px;padding-bottom: 8px;margin-left: 160px;margin-right: 160px;padding-top: 8px;padding-left: 20px;padding-right: 20px;">Create a room</a>

                  <div style="margin-left: -6px;"><a class="btn btn-primary shadow" role="button" (click)="openRoomJoin()"
                    style="margin-top: 6px;margin-bottom: 35px;padding-bottom: 8px;margin-right: 160px;padding-top: 8px;padding-left: 20px;padding-right: 20px;margin-left: 174px;">Join a room</a></div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
