<div class="mat-typography" >

  <h1 mat-dialog-title>Create the Room</h1>
    <form class="example-form" (ngSubmit)="onSubmit(roomForm)" #roomForm="ngForm">
      <mat-form-field class="example-full-width" style="margin-top: 10%;">
        <mat-label>Room Name</mat-label>
        <input matInput placeholder="Ex: Room_101" name="title" #title="ngModel" [(ngModel)]="roomService.selectedRoom.title">

      </mat-form-field>

        <button mat-raised-button color="primary" style="align-content: center; margin-left: 60%;" type="submit">Create</button>

    </form>

</div>
