<app-header></app-header>

<header class="bg-dark">
  <div class="container py-5">
      <div class="row py-5">
          <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
              <div style="max-width: 450px;">
                  <p class="fw-bold text-success mb-2">Have Fun</p>
                  <h2 class="fw-bold">Come and play<br>with family <br>and friends!</h2>
                  <p class="my-3">Sign up now and start playing.</p>
                  <!-- <form class="d-flex justify-content-center flex-wrap justify-content-md-start flex-lg-nowrap" method="post">
                      <div class="my-2 me-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                      <div class="my-2"><button class="btn btn-primary shadow" type="submit">Subscribe </button></div>
                  </form> -->
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;"><img class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;" src="assets/img/phone-screen.png"></div>
          </div>
      </div>
  </div>
</header>
<section class="py-5">
  <div class="container text-center py-5">
      <p class="mb-4" style="font-size: 1.6rem;">Compatible for&nbsp;<span class="text-success"><strong>10+</strong></span>&nbsp;of the best browsers.</p><a href="#"> <img class="m-3" src="assets/img/brands/google.png"></a><a href="#"> <img class="m-3" src="assets/img/brands/microsoft.png"></a><a href="#"> <img class="m-3" src="assets/img/brands/apple.png"></a><a href="#"> <img class="m-3" src="assets/img/brands/facebook.png"></a><a href="#"> <img class="m-3" src="assets/img/brands/twitter.png"></a>
  </div>
</section>
<section>
  <div class="container bg-dark py-5">
      <div class="row">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="fw-bold text-success mb-2">Our Services</p>
              <h3 class="fw-bold">What we can do for you</h3>
          </div>
      </div>
      <div class="py-5 p-lg-5">
          <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
              <div class="col mb-5">
                  <div class="card shadow-sm">
                      <div class="card-body px-4 py-5 px-md-5">
                          <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell text-success">
                                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                              </svg></div>
                          <h5 class="fw-bold card-title">Lorem ipsum dolor sit&nbsp;</h5>
                          <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn btn-primary shadow" type="button">Learn more</button>
                      </div>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card shadow-sm">
                      <div class="card-body px-4 py-5 px-md-5">
                          <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier text-success">
                                  <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                  <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                              </svg></div>
                          <h5 class="fw-bold card-title">Lorem ipsum dolor sit&nbsp;</h5>
                          <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn btn-primary shadow" type="button">Learn more</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="py-5">
  <div class="container py-5">
      <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="fw-bold text-success mb-2">Testimonials</p>
              <h2 class="fw-bold"><strong>What People Say About us</strong></h2>
              <p class="text-muted">No matter the project, our team can handle it.&nbsp;</p>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
          <div class="col mb-4">
              <div class="d-flex flex-column align-items-center align-items-sm-start">
                  <p class="bg-dark border rounded border-dark p-4">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus, aliquet morbi.</p>
                  <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/img/team/avatar2.jpg">
                      <div>
                          <p class="fw-bold text-primary mb-0">John Smith</p>
                          <p class="text-muted mb-0">Erat netus</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col mb-4">
              <div class="d-flex flex-column align-items-center align-items-sm-start">
                  <p class="bg-dark border rounded border-dark p-4">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus, aliquet morbi.</p>
                  <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/img/team/avatar4.jpg">
                      <div>
                          <p class="fw-bold text-primary mb-0">John Smith</p>
                          <p class="text-muted mb-0">Erat netus</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col mb-4">
              <div class="d-flex flex-column align-items-center align-items-sm-start">
                  <p class="bg-dark border rounded border-dark p-4">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus, aliquet morbi.</p>
                  <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/img/team/avatar5.jpg">
                      <div>
                          <p class="fw-bold text-primary mb-0">John Smith</p>
                          <p class="text-muted mb-0">Erat netus</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>
