<app-header></app-header>
<div>
  <!-- <form (ngSubmit)="onSubmit(roomForm)" #roomForm="ngForm">
    <input type="hidden" name="_id" #_id = "ngModel" [(ngModel)]="roomService.selectedRoom._id">
    <input type="text" name="title" #title="ngModel" [(ngModel)]="roomService.selectedRoom.title" placeholder="title">
    <button type="submit">Submit</button>
  </form> -->
  <br>
  <!-- <div id="chat-window">
    <div id="output" *ngFor="let data of output">
      <p>{{data.handle}}:{{data.message}}</p>
    </div>
  </div>
  <input type="text" id="handle" [(ngModel)]="userName" placeholder="handle">
  <input type="text" id="handle" [(ngModel)]="Message" placeholder="handle">
  <button type="button" id="send" (click)="sendMessage()">send</button>

</div> -->
<div id="canv">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome to the Canvas!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Use your mouse to draw.</p>
        <p>Click on the chat icon to open the chat.</p>
        <p>Press R to clear the canvas.</p>
      </div>
      <!-- <input id="hex-code" /> -->
      <div class="col">
        <br>
        <label for="">Pick Your Color to draw: </label>
        <input [(ngModel)] = "colorPicker" id="picker" type="color" value="#ffffff" />
        <br>
        <mat-divider></mat-divider>
        <br>
        <label for="">Select Brush size:</label>

        <div class="container">
          <div class="row">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="brushSize">
              <div class="col-sm">
                <mat-radio-button value="10" style="margin-right:10%;">S</mat-radio-button>

                <mat-radio-button value="30" style="margin-right:10%;">M</mat-radio-button>
                <mat-radio-button value="60" >L</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
      </div>


    </div>
    <div class="row">
      <div class="col">
        <div class="sketch-container">
          <div id="sketch-holder"></div>
        </div>
      </div>
    </div>
  </div>

</div>


<div>
  <input type="checkbox" id="check">
  <label class="chat-btn" for="check">
     <i class="fa fa-commenting-o comment"></i>
     <i class="fa fa-close close"></i>
  </label>
   <div class="wrapper">
    <div class="header">
      <!-- <h6>Let's Chat - Online</h6> -->
    </div>
    <!-- <div class="text-center p-2">
      <span>Please fill out the form to start chat!</span>
    </div> -->
    <div id="output" class="text-dark text-left p-2" *ngFor="let data of output">
      <p>{{data.handle}}:{{data.message}}</p>
    </div>
    <div class="chat-form">
      <!-- <input type="text" class="form-control" placeholder="Name"> -->
      <!-- <input type="text" class="form-control" placeholder="Email"> -->
      <!-- <textarea class="form-control" placeholder="Your Text Message"></textarea> -->
      <input type="hidden" id="handle" [(ngModel)]="userName" placeholder="handle">
      <input type="text" class="form-control" id="message" [(ngModel)]="Message" placeholder="Your Text Message">
      <button type="button" class="btn btn-success btn-block text-light" id="send" (click)="sendMessage()">send</button>
      <!-- <button class="btn btn-success btn-block">Submit</button> -->
    </div>
</div>
</div>
